/* Estilos comunes a todas las páginas */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(135deg, #cc0000, #0033cc);
    background-size: 400% 400%;
    animation: gradientBG 15s ease infinite;
    color: white;
    min-height: 100vh;
}

@keyframes gradientBG {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}


/* Estilos para elementos comunes */

button {
    font-family: 'Arial', sans-serif;
}

input,
textarea,
select {
    font-family: 'Arial', sans-serif;
}


/* Estilos para scrollbar personalizada */

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #cc0000;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #990000;
}